* {
  font-family: JetBrainsMono Nerd Font, system-ui, sans-serif !important;
  font-size: 15px !important;
  font-weight: 600;
  text-shadow: 0 0 .8px var(--colorFgAlpha) !important;
  letter-spacing: .1px;
}