@define-color border-color rgba(153, 0, 0 , 1);
@define-color accent rgba(153, 0, 0 , 0.9);
@define-color bg-1 rgba(18, 18, 18, 0.95);
@define-color bg-2 rgba(22, 22, 22, 0.7);
@define-color bg-3 rgba(18, 18, 18, 1);
@define-color bg-hover rgba(153, 0, 0 , 0.8);
@define-color text rgba(226, 226, 226, 1);
@define-color text-2 rgba(226, 226, 226, 1);
@define-color text-disabled rgba(20, 19, 19, 0.7);

* {
    font-family: JetBrainsMono Nerd Font;
    font-weight: Bolder;
    border-radius: 4px;
}

.control-center .notification-row:focus,
.control-center .notification-row:hover {
    opacity: 1;
    background: @bg-1;
}

.notification-row {
    outline: none;
    margin: 0px;
}

.notification-content{
	color: @text;
    background: @bg-1;
    padding: 3px 10px 3px 6px;
    border: 2px solid @border-color;
    margin: 0px;
}

.notification-default-action {
    margin: 0;
    padding: 0;
}

.close-button {
    background: @accent;
    color: @bg-1;
    text-shadow: none;
    padding: 0;
    margin-top: 5px;
    margin-right: 5px;
}

.close-button:hover {
    box-shadow: none;
    background: @accent;
    transition: all .15s ease-in-out;
    border: none;
}

.notification-action {
    border: 2px solid @border-color;
    border-top: none;
}

.notification-default-action:hover,
.notification-action:hover {
    color: @text;
    background: @bg-1;
}

.notification-default-action {
    margin: 5px;
}

.notification-action:first-child {
    background: #1b1b2b
}

.notification-action:last-child {
    background: #1b1b2b
}

.inline-reply {
    margin-top: 8px
}

.inline-reply-entry {
    background: @bg-1;
    color: @text;
    caret-color: @text;
    border: 1px solid @border-color;

}

.inline-reply-button {
	font-size: 0.5rem;
    margin-left: 4px;
    background: @bg-1;
    border: 1px solid @border-color;
    color: @text
}

.inline-reply-button:disabled {
    background: initial;
    color: @text-disabled;
    border: 1px solid transparent
}

.inline-reply-button:hover {
    background: @bg-hover
}

.body-image {
    margin-top: 6px;
    color: @text-2;
}

.summary {
    font-size: 1rem;
    font-weight: bold;
    background: transparent;
    color: @text;
    text-shadow: none
}

.time {
    font-size: 1rem;
    font-weight: 200;
    background: transparent;
    color: @text;
    text-shadow: none;
    margin-right: 18px
}

.body {
    font-size: 1rem;
    font-weight: 200;
    background: transparent;
    color: @text;
    text-shadow: none
}

.control-center {
    background: @bg-1;
    border: 2px solid @border-color;
	color: @text;
}

.control-center-list {
    background: transparent
}

.control-center-list-placeholder {
    opacity: 0.5
}

.floating-notifications {
    background: transparent;
}

.blank-window {
    background: alpha(black, 0.1)
}

.widget-title {
    color: @border-color;
    background: @bg-2;
    padding: 3px 6px;
    margin: 5px;
    font-size: 1.1rem;
}

.widget-title>button {
    font-size: 1.2rem;
    color: @text;
	background: transparent;
	border: 0.5px solid @border-color;
}

.widget-title>button:hover {
    background: rgba(153, 0, 0 , 0.8);
    color: white;
}

.widget-dnd {
    background: @bg-1;
    padding: 3px 6px;
    margin: 5px;
    font-size: 1rem;
    color: @border-color;
}

.widget-dnd>switch {
    border: 1px solid @accent;
    background: @border-color;
}

.widget-dnd>switch:checked {
    background: @accent;
}

.widget-dnd>switch slider {
    background: @bg-3;
    border: 1px solid @accent;
}

.widget-dnd>switch:checked slider {
    background: @bg-3;;
}

.widget-label {
    margin: 5px;
}

.widget-label>label {
    font-size: 1rem;
    color: @text;
}

.widget-mpris {
    color: @text;
    background: @bg-2;
    padding: 3px 6px;
    margin: 5px;
}

.widget-mpris-player {
    padding: 3px 6px;
    margin: 5px;
}

.widget-mpris-title {
    font-size: 1rem
}

.widget-mpris-subtitle {
    font-size: 0.75rem;
    font-weight: bold;
}

.widget-buttons-grid {
    font-size: large;
	color: @border-color;
    padding: 2px;
    margin: 5px;
    background: @bg-2;
}

.widget-buttons-grid>flowbox>flowboxchild>button {
    margin: 1px;
    background: @bg-3;
    border: 1px solid @accent;
    color: @text
}

.widget-buttons-grid>flowbox>flowboxchild>button:hover {
    color: @accent
}

.widget-menubar>box>.menu-button-bar>button {
    border: none;
    background: transparent
}

.topbar-buttons>button {
    border: none;
    background: transparent
}

.widget-volume {
    background: @bg-2;
    padding: 2px;
    margin: 10px 10px 5px 10px;
    font-size: x-large;
    color: @text
}

.widget-volume>box>button {
    background: @bg-1;
    border: 1px solid @accent;
}

.widget-backlight {
    background: @bg-2;
    padding: 5px;
    margin: 10px 10px 5px 10px;
    font-size: x-large;
    color: @text
}

.low {
  background: @bg-1;
  padding: 0px;
}

.normal {
  background: @bg-1;
  padding: 0px;
}

.critical {
  background: rgba(153, 0, 0 , 0.8);
  padding: 0px;
}
