@define-color font-color #e2e2e2;
@define-color background #0D0D0D;
@define-color background-2 #343434;
@define-color accent #990000;
@define-color clock rgb(204, 0, 0);
@define-color shadow #550000;

* {
  font-family: JetBrainsMono Nerd Font;
  font-weight: 700;
  min-height: 0;
  font-size: 15px;
}

tooltip {
  background: @background;
  opacity: 0.9;
  border: 2px solid @accent;
}

tooltip label {
  color: @font-color;
}

window#waybar {
  background: @background-2;
}

/* left */

#window {
  background: @background;
  border: 1px solid #2a2a2a;
  padding: 1px 8px;
  color: #e2e2e2;
  font-size: 13px;
  box-shadow:
    0 1px 0 rgba(255, 255, 255, 0.06) inset,
    0 0 4px rgba(0, 0, 0, 0.6) inset;
  margin: 2px 2px 2px 2px;
}

window#waybar.empty #window {
  font-size: 0;
  margin: 0;
  padding: 0;
  opacity: 0;
}

#workspaces button {
  background: @background;
  border: 1px solid #2a2a2a;
  padding: 1px 8px;
  color: #e2e2e2;
  font-size: 13px;
  box-shadow:
    0 1px 0 rgba(255, 255, 255, 0.06) inset,
    0 0 4px rgba(0, 0, 0, 0.6) inset;
  margin: 2px 2px 2px 2px;
}

#workspaces button.active,
#workspaces button.focused {
  background: @accent;
  padding: 1px 17px;
}

#workspaces button:hover {
  color: @accent;
  background: @font-color;
  padding: 1px 20px;
}

#workspaces button.urgent {
  color: white;
  padding: 1px 20px;
  animation: flash 1s infinite;
}

@keyframes flash {
  0% {
    background: #990000;
  }

  50% {
    background: #ff0000;
  }

  100% {
    background: #990000;
  }
}

#mpris {
  background: @background;
  border: 1px solid #2a2a2a;
  padding: 1px 8px;
  color: #e2e2e2;
  font-size: 13px;
  box-shadow:
    0 1px 0 rgba(255, 255, 255, 0.06) inset,
    0 0 4px rgba(0, 0, 0, 0.6) inset;
  margin: 2px 2px 2px 2px;
}

#mpris.stopped,
#mpris.paused {
  font-size: 0;
  margin: 0;
  padding: 0;
  opacity: 0;
}

/* Middle */

/* Right */

#clock {
  background: @background;
  border: 1px solid #2a2a2a;
  padding: 1px 8px;
  color: #e2e2e2;
  font-size: 13px;
  box-shadow:
    0 1px 0 rgba(255, 255, 255, 0.06) inset,
    0 0 4px rgba(0, 0, 0, 0.6) inset;
  margin: 2px 2px 2px 0px;
}

#custom-prayers {
  background: @background;
  border: 1px solid #2a2a2a;
  padding: 1px 8px;
  color: #e2e2e2;
  font-size: 13px;
  box-shadow:
    0 1px 0 rgba(255, 255, 255, 0.06) inset,
    0 0 4px rgba(0, 0, 0, 0.6) inset;
  margin: 2px 2px 2px 0px;
}

#sys {
  background: @background;
  border: 1px solid #2a2a2a;
  padding: 1px 8px;
  color: #e2e2e2;
  font-size: 13px;
  box-shadow:
    0 1px 0 rgba(255, 255, 255, 0.06) inset,
    0 0 4px rgba(0, 0, 0, 0.6) inset;
  margin: 2px 2px 2px 2px;
}

#battery {
  color: greenyellow;
  margin-left: 10px;
  margin-right: 5px;
}

#battery.critical:not(.charging) {
  color: @accent;
}

#battery.full {
  font-size: 0;
  margin: 0;
  padding: 0;
  opacity: 0;
}

#network {
  margin-left: 3px;
  margin-right: 5px;
}

#bluetooth {
  margin-left: 5px;
  margin-right: 5px;
}

#pulseaudio {
  margin-left: 5px;
  padding-right: 10px;
}

#custom-powerprofile {
  margin-left: 7px;
  margin-right: 15px;
  color: @font-color;
}

#idle_inhibitor {
  margin-left: 1px;
  margin-right: 10px;
}

#idle_inhibitor.activated {
  color: @accent;
}

#tray {
  background: @background;
  border: 1px solid #2a2a2a;
  padding: 1px 8px;
  color: #e2e2e2;
  font-size: 13px;
  box-shadow:
    0 1px 0 rgba(255, 255, 255, 0.06) inset,
    0 0 4px rgba(0, 0, 0, 0.6) inset;
  margin: 2px 2px 2px 2px;
}

#tray menu {
  background: @background;
}

#tray>.passive {
  color: red;
}

#privacy {
  background: @background;
  border: 1px solid #2a2a2a;
  padding: 1px 8px;
  color: #e2e2e2;
  font-size: 13px;
  box-shadow:
    0 1px 0 rgba(255, 255, 255, 0.06) inset,
    0 0 4px rgba(0, 0, 0, 0.6) inset;
  margin: 2px 2px 2px 2px;
}

#privacy-item.screenshare {
  color: @accent;
}
