@import "../../.config/waybar/wal/colors-waybar.css";

* {
    font-family: JetBrainsMono Nerd Font;
    font-weight: 700;
    min-height: 0;
    font-size: 100%;
    font-feature-settings: '"zero", "ss01", "ss02", "ss03", "ss04", "ss05", "cv31"';
}

#window {
    background: @background;
    color: @color15;
    box-shadow: @color1 2px 2px 2px 1px;
    border-radius: 50px 50px;
    margin: 3px;
    padding: 3px 15px;
}

window#waybar {
    background: transparent;
}

window#waybar.empty #window {
    background: transparent;
    box-shadow: none;
}

tooltip {
    background: @background;
    opacity: 0.9;
    border-radius: 0px;
    border-width: 2px;
    border-style: solid;
    border-color: @color11;
}

tooltip label {
    color: rgba(243, 244, 245, 0.9);
}

#workspaces {
    background: @background;
    box-shadow: @color1 2px 2px 2px 1px;
    border-radius: 50px 50px;
    margin: 3px;
    padding: 3px 15px;
}

#workspaces button {
    background: @color1;
    color: @color0;
    border-radius: 50px 50px;
    margin: 3px;
    padding: 3px 10px;
}

#workspaces button.active,
#workspaces button.focused {
    color: @foreground;
    background: @color12;
    /*border: 2px solid @color11;*/
    border-radius: 50px 50px;
    margin: 3px;
    padding: 3px 20px;
}

#workspaces button:hover {
    color: @color10;
    background: @color15;
    border-radius: 50px 50px;
    margin: 3px;
    padding: 3px 20px;
}

#workspaces button.urgent {
    color: @color13;
    border-radius: 50px 50px;
    margin: 3px;
    padding: 3px 15px;
    animation: flash 1s infinite;
}

@keyframes flash {
    0% {
        background: @color14;
    }
    50% {
        background: @color7;
    }
    100% {
        background: @color14;
    }
}

#custom-swaync {
    color: @color11;
    background: @background;
    box-shadow: @color1 2px 2px 2px 1px;
    border-radius: 50px 50px;
    margin: 3px;
    padding: 3px 15px;
}

#clock {
    color: @color6;
    background: @background;
    box-shadow: @color1 2px 2px 2px 1px;
    border-radius: 50px 50px;
    margin: 3px;
    padding: 3px 15px;
}

#custom-weather2 {
    color: @color10;
    background: @background;
    box-shadow: @color1 2px 2px 2px 1px;
    border-radius: 50px 50px;
    margin: 3px;
    padding: 3px 15px;
}

#tray {
    background: @background;
    color: @color15;
    box-shadow: @color1 2px 2px 2px 1px;
    border-radius: 50px 0px 0px 50px;
    margin-top: 3px;
    margin-left: 3px;
    margin-bottom: 3px;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 15px;
}

#sys {
    background: @background;
    border-radius: 0px 50px 50px 0px;
    box-shadow: @color1 2px 2px 2px 1px;
    margin-top: 3px;
    margin-right: 3px;
    margin-bottom: 3px;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-right: 15px;
    padding-left: 2px;
}
#mpris {
    background: @background;
    color: @color1;
    box-shadow: @color1 2px 2px 2px 1px;
    border-radius: 50px 50px;
    margin: 3px;
    padding: 3px 15px;
}

#custom-prayers {
    background: @background;
    color: @color13;
    box-shadow: @color1 2px 2px 2px 1px;
    border-radius: 50px 50px;
    margin: 3px;
    padding: 3px 15px;
}

#custom-hyprshade {
    color: @color13;
}
#pulseaudio,
#pulseaudio-micorphone {
    color: @color12;
    padding-left: 5px;
    padding-right: 5px;
}

#battery {
    color: @color2;
    padding-left: 5px;
    padding-right: 12px;
}

#power-profiles-daemon {
    color: @color11;
    padding-left: 5px;
    padding-right: 5px;
}

#battery.critical:not(.charging) {
    color: @color11;
}

#custom-separator {
    color: transparent;
}

#taskbar {
    background: @background;
    border-radius: 50px 50px;
    margin: 3px;
    padding: 3px 15px;
}

#privacy {
    color: @color15;
    background: @background;
    border-radius: 50px 50px;
    margin: 3px;
    padding: 3px 15px;
}

#privacy-item.screenshare {
    color: @color9;
}
#custom-RandomWallpaper{
    color: @color5;
    padding-right: 5px;
}
