@define-color font #e2e2e2;
@define-color background #121212;
@define-color background-2 #222222;
@define-color accent #990000;
@define-color clock rgb(204, 0, 0);
@define-color shadow #550000;

* {
  font-family: JetBrainsMono Nerd Font;
  font-weight: 700;
  min-height: 0;
  font-size: 15px;
  border-radius: 10px;
}

tooltip {
  background: @background;
  opacity: 0.9;
  border: 2px solid @accent;
}

tooltip label {
  color: @font;
}

window#waybar {
  background: transparent;
}

/* left */

#window {
  color: @font;
  background: @background;
  padding: 0px 10px 3px 10px;
  margin: 0px 2px 1px 0px;
  box-shadow: @shadow 1px 2px 1px 1px;
}

window#waybar.empty #window {
  font-size: 0;
  margin: 0;
  padding: 0;
  opacity: 0;
}

#workspaces button {
  color: @font;
  background: @background;
  padding: 0px 10px;
  margin: 0px 2px 1px 0px;
  box-shadow: @shadow 1px 2px 1px 1px;
}

#workspaces button.active,
#workspaces button.focused {
  background: @accent;
  padding: 0px 17px;
}

#workspaces button:hover {
  color: @accent;
  background: @font;
  padding: 0px 20px;
}

#workspaces button.urgent {
  color: white;
  padding: 0px 20px;
  animation: flash 1s infinite;
}

#tags {
  background: @background;
  padding: 0px 3px;
  margin: 0px 1px 1px 0px;
  box-shadow: @shadow 1px 2px 1px 1px;
}

#tags button {
  color: @font;
  background: @background-2;
  padding: 0px 10px;
  margin: 1px 1px 1px 1px;
}

#tags button:hover {
  color: @accent;
  background: @font;
  padding: 0px 20px;
  margin: 1px 1px 1px 1px;
}

#tags button.occupied {
  border-bottom: @accent 1px solid;
}

#tags button.focused {
  color: @font;
  background: @accent;
  padding: 0px 17px;
  margin: 1px 1px 1px 1px;
}

#tags button.urgent {
  color: white;
  padding: 0px 20px;
  margin: 1px 1px 1px 1px;
  animation: flash 1s infinite;
}

#taskbar {
  background: @background;
  padding: 0px 3px;
  margin: 0px 1px 1px 1px;
  box-shadow: @shadow 1px 2px 1px 1px;
}

#taskbar button {
  color: @font;
  background: @background-2;
  padding: 0px 8px;
  margin: 1px 1px 1px 1px;
}

#taskbar button.active {
  color: @font;
  background: @accent;
}

#taskbar button.minimized {
  color: @shadow;
}

#taskbar.empty {
  background: transparent;
  box-shadow: none;
}

@keyframes flash {
  0% {
    background: #990000;
  }

  50% {
    background: #ff0000;
  }

  100% {
    background: #990000;
  }
}

#mpris {
  color: @font;
  background: @background;
  padding: 0px 10px 3px 10px;
  margin: 0px 2px 1px 0px;
  box-shadow: @shadow 1px 2px 1px 1px;
}

#mpris.stopped,
#mpris.paused {
  font-size: 0;
  margin: 0;
  padding: 0;
  opacity: 0;
}

#custom-lyrics {
  color: @accent;
  background: @background;
  padding: 0px 10px;
  margin: 0px 1px 1px 1px;
  box-shadow: @shadow 1px 2px 1px 1px;
}

/* Middle */

/* Right */

#clock {
  color: @clock;
  background: @background;
  padding: 0px 12px;
  margin: 0px 2px 1px 0px;
  box-shadow: @shadow 1px 2px 1px 1px;
}

#custom-go-pray,
#custom-prayers {
  color: @font;
  background: @background;
  padding: 0px 12px;
  margin: 0px 1px 1px 1px;
  box-shadow: @shadow 0px 1px 1px 0px;
}

#sys {
  background: @background;
  padding: 0px 10px 3px 10px;
  margin: 0px 2px 1px 0px;
  box-shadow: @shadow 1px 2px 1px 1px;
}

#battery {
  color: greenyellow;
  margin-left: 10px;
  margin-right: 5px;
}

#battery.critical:not(.charging) {
  color: @accent;
}

#battery.full {
  font-size: 0;
  margin: 0;
  padding: 0;
  opacity: 0;
}

#network {
  margin-left: 3px;
  margin-right: 5px;
}

#bluetooth {
  margin-left: 5px;
  margin-right: 5px;
}

#pulseaudio {
  margin-left: 7px;
  padding-right: 10px;
}

#pulseaudio.microphone {
  margin-left: 7px;
  padding-right: 7px;
}

#custom-powerprofile {
  margin-left: 7px;
  margin-right: 7px;
  color: @font;
}

#idle_inhibitor {
  margin-left: 3px;
  margin-right: 10px;
}

#idle_inhibitor.activated {
  color: @accent;
}

#tray {
  background: @background;
  padding: 0px 10px 3px 10px;
  margin: 0px 2px 1px 0px;
  box-shadow: @shadow 1px 2px 1px 1px;
}

#tray menu {
  background: @background;
}

#tray>.passive {
  color: red;
}

#custom-timer {
  color: @font;
  background: @background;
  padding: 0px 12px;
  margin: 0px 2px 1px 0px;
  box-shadow: @shadow 1px 2px 1px 1px;
}

#custom-timer.stopped {
  font-size: 0;
  margin: 0;
  padding: 0;
  opacity: 0;
}

#privacy {
  color: @font;
  background: @background;
  padding: 0px 10px 3px 10px;
  margin: 0px 1px 1px 2px;
  box-shadow: @shadow 1px 2px 1px 1px;
}

#privacy-item.screenshare {
  color: @accent;
}
