* {
    main-bg:            rgba(20, 19, 19, 0.6);
    main-fg:            rgba(159 , 38 , 53 , 1);
    main-br:            #a6a6a6ff; /*border color*/
    main-ex:            #595959cc;
    main-tc:            #d9d9d9ff;
    select-bg:          rgba(159 , 38 , 53 , 0.6);
    select-fg:          white;
    separatorcolor:     transparent;
    border-color:       transparent;
}
