.tab-position     [id*= "tab"].tab.active {
background-color:#151515 !important;
border-bottom: 1px var(--colorHighlightBg) solid !important;
color: #ffffff !important;
border-radius: 2px;
}

span.favicon.jstest-favicon-image {
    filter: none !important;
}
