div#tabs-container.top{
    padding: 0px 0px 0px 0px !important;
}
button[title="Synced Tabs"]{
    color: var(--colorHighlightBg) !important;
}
div.stack-counter{
    color: var(--colorHighlightBg) !important;
}
